<?php
$rodeoHelper = $this->helper('Socialweb\Rodeo\Helper\Data');
$enablePromotion = $rodeoHelper->getConfigValue('rodeosettings/promotion_settings/enable_promotion');
$promotionText = $rodeoHelper->getConfigValue('rodeosettings/promotion_settings/promotion_text');
?>
<?php if ($enablePromotion == 1) { ?>
    <?php if ($promotionText != '') { ?>
        <div class="promotion-wrapper">
            <div class="page-main">
                <?php echo $promotionText; ?>
            </div>
        </div>
    <?php } ?>
<?php } ?>