<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<?php
/**
 * Template for displaying products list widget
 *
 * @var $block \Magento\CatalogWidget\Block\Product\ProductsList
 */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())): ?>
    <?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $title = $block->getTitle() ? __($block->getTitle()) : '';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;
    ?>
    <?php
    $rodeoHelper = $this->helper('Socialweb\Rodeo\Helper\Data');
    $showNewLabel = $rodeoHelper->getConfigValue('rodeosettings/category_settings/show_new_label');
    $showSaleLabel = $rodeoHelper->getConfigValue('rodeosettings/category_settings/show_sale_label');
    $showBorder = $rodeoHelper->getConfigValue('rodeosettings/category_settings/show_border');
    ?>
    <div class="owl-button-top above-padding below-padding block widget block-products-list <?php /* @escapeNotVerified */ echo $mode; ?>">
        <?php if ($title): ?>
            <div class="page-title-main">
                <strong><?php /* @escapeNotVerified */ echo $title; ?></strong>
            </div>
        <?php endif ?>
        <div class="block-content">
            <?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
            <div class="products-<?php /* @escapeNotVerified */ echo $mode; ?> <?php /* @escapeNotVerified */ echo $mode; ?>">
                <div class="slider-outer">
                    <ol style="margin-bottom: 0;" class="product-widget-slider products list items product-items <?php /* @escapeNotVerified */ echo $type; ?>">
                        <?php $iterator = 1; ?>
                        <?php foreach ($items as $_item): ?>
                            <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="product-slider product-item">' : '</li><li class="product-slider product-item">' ?>
                            <div class="product-item-info">
                                <div class="product-img-main">
                                    <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" class="product-item-photo <?php if ($showBorder == 1) { ?> add-border <?php } ?>">
                                        <?php echo $block->getImage($_item, $image)->toHtml(); ?>
                                        <?php
                                        if ($showNewLabel == 1) {
                                            $fromDate = $_item->getNewsFromDate();
                                            $toDate = $_item->getNewsToDate();

                                            if (isset($fromDate) && isset($toDate)) {
                                                $fromDate = strtotime($fromDate);
                                                $toDate = strtotime($toDate);
                                                $now = strtotime(date("Y-m-d h:m:s"));

                                                if ($fromDate <= $now && $now <= $toDate) {
                                                    ?>
                                                    <span class="new-label"><?php echo __('New'); ?></span>
                                                    <?php
                                                }
                                            }
                                        }

                                        if ($showSaleLabel == 1) {
                                            $special_price = number_format($_item->getSpecialPrice(), 2);
                                            $regular_price = number_format($_item->getPrice(), 2);
                                            if (isset($special_price) && $special_price > 0) {
                                                if ($special_price < $regular_price) {
                                                    $fromSpecialDate = $_item->getSpecialFromDate();
                                                    $toSpecialDate = $_item->getSpecialToDate();

                                                    if (isset($fromSpecialDate) && isset($toSpecialDate)) {
                                                        $fromSpecialDate = strtotime($fromSpecialDate);
                                                        $toSpecialDate = strtotime($toSpecialDate);
                                                        $now = strtotime(date("Y-m-d h:m:s"));

                                                        if ($fromSpecialDate <= $now && $now <= $toSpecialDate) {
                                                            ?>
                                                            <span class="sale-label"><?php echo __('Sale'); ?></span>
                                                            <?php
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        ?>
                                    </a>
                                    <div class="product-item-inner">
                                        <?php if ($showWishlist || $showCompare): ?>
                                            <div class="product actions product-item-actions">
                                                <div class="actions-secondary" data-role="add-to-links">
                                                    <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                        <a href="#"
                                                           data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_item); ?>'
                                                           class="action towishlist" data-action="add-to-wishlist"
                                                           title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
                                                            <span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span>
                                                        </a>
                                                    <?php endif; ?>
                                                    <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                        <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); ?>
                                                        <a href="#" class="action tocompare"
                                                           data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_item); ?>'
                                                           title="<?php /* @escapeNotVerified */ echo __('Add to Compare') ?>">
                                                            <span><?php /* @escapeNotVerified */ echo __('Add to Compare') ?></span>
                                                        </a>
                                                    <?php endif; ?>
                                                </div>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                </div>
                                <div class="product-item-details">
                                    <strong class="product-item-name">
                                        <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                           href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>"
                                           class="product-item-link">
                                               <?php echo $block->escapeHtml($_item->getName()) ?>
                                        </a>
                                    </strong>
                                    <?php
                                    echo $block->getProductPriceHtml($_item, $type);
                                    ?>

                                    <?php if ($templateType): ?>
                                        <?php echo $block->getReviewsSummaryHtml($_item, $templateType) ?>
                                    <?php endif; ?>

                                    <?php if ($showWishlist || $showCompare || $showCart): ?>
                                        <div class="product-item-inner">
                                            <div class="product-item-actions">
                                                <?php if ($showCart): ?>
                                                    <div class="actions-primary">
                                                        <?php if ($_item->isSaleable()): ?>
                                                            <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                                <button class="action tocart primary"
                                                                        data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_item) ?>"}}'
                                                                        type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                                    <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                                </button>
                                                            <?php else: ?>
                                                                <?php
                                                                $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                                $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                                ?>
                                                                <button class="action tocart primary"
                                                                        data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'
                                                                        type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                                    <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                                </button>
                                                            <?php endif; ?>
                                                        <?php else: ?>
                                                            <?php if ($_item->getIsSalable()): ?>
                                                                <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                            <?php else: ?>
                                                                <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                                    <?php endif; ?>
                                                                <?php endif; ?>
                                                    </div>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <?php echo($iterator == count($items) + 1) ? '</li>' : '' ?>
                        <?php endforeach ?>
                    </ol>
                </div>
            </div>
            <?php echo $block->getPagerHtml() ?>
        </div>
    </div>
    <script type="text/javascript" xml="space">
        require(['jquery', 'rodeocarousel'], function() {
            jQuery(document).ready(function() {
                jQuery(".product-widget-slider").owlCarousel({
                    items: 5,
                    itemsDesktop: [1199, 4],
                    itemsDesktopSmall: [991, 4],
                    itemsTablet: [767, 3],
                    itemsTabletSmall: [639, 3],
                    itemsMobile: [479, 2],
                    pagination: false,
                    navigationText: ["<div class='left-arrow'><i class='fa fa-angle-left'></i></div>", "<div class='right-arrow'><i class='fa fa-angle-right'></div>"],
                    navigation: true,
                });
            });
            jQuery(window).load(function() {
                jQuery('.product-widget-slider .product-slider').show();
            });
        });
    </script>
<?php endif; ?>
